@model Typerite.Models.Posts

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Typerity.cshtml";
}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0&appId=852489799081863&autoLogAppEvents=1" nonce="muErSBXS"></script>

<main class="row content__page">

    <article class="column large-full entry format-standard">

        <div class="media-wrap entry__media">
            <div class="entry__post-thumb">
                <img src="@Html.DisplayFor(model => model.Background)"
                     srcset="@Html.DisplayFor(model => model.Background) 2000w,
                                         @Html.DisplayFor(model => model.Background) 1000w,
                                        @Html.DisplayFor(model => model.Background) 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
            </div>
        </div>

        <div class="content__page-header entry__header">
            <h1 class="display-1 entry__title">
                @Html.DisplayFor(model => model.Title)
            </h1>
            <ul class="entry__header-meta">
                <li class="author">By <a href="#0">@Html.DisplayFor(model => model.Authors.FullName)</a></li>
                <li class="date">@Html.DisplayFor(model => model.CreatedShort)</li>
                <li class="cat-links">
                    <a href="#0">@Html.DisplayFor(model => model.Categories.Category)</a>
                </li>
            </ul>
        </div> <!-- end entry__header -->

        <div class="entry__content">

            <h2>Nguyên liệu</h2>

            <p>
                @Html.DisplayFor(model => model.Ingredient)
            </p>


            <h2>Cách làm</h2>

            <p class="lead drop-cap">
                @Html.DisplayFor(model => model.Description)
            </p>



            <p>
                <img src="@Html.DisplayFor(model => model.Image)"
                     srcset="@Html.DisplayFor(model => model.Image) 2000w,
                                     @Html.DisplayFor(model => model.Image) 1000w,
                                     @Html.DisplayFor(model => model.Image) 500w"
                     sizes="(max-width: 2000px) 100vw, 2000px" alt="">
            </p>



            <blockquote>
                <p>
                    Chúc bạn nấu món ăn thành công và có một bữa ăn ngon miệng!
                </p>
                <cite>@Html.DisplayFor(model => model.Authors.FullName)</cite>
            </blockquote>

            <!-- end entry related -->


        </div> <!-- end entry content -->
        <div class="entry__related">
            <h3 class="h2">Món đề xuất</h3>

            <ul class="related">
                @foreach (var item in ViewBag.Last3)
                {

                    <li class="related__item">

                        <a href="#" class="related__link">
                            <img src="@item.Background" alt="">
                        </a>
                        <h5 class="related__post-title">@item.Title</h5>
                    </li>
                }
            </ul>
        </div>





    </article> <!-- end column large-full entry-->
    <!-- end comments-wrap -->
    <div class="comments-wrap">

        <div id="comments" class="column large-12">

            <h3 class="h2">Bình luận </h3>
            <div class="fb-comments" data-href="http://typerite.somee.com" data-width="800" data-numposts="5"></div>
            <!-- START commentlist -->
            <!-- END commentlist -->

        </div> <!-- end comments -->

    </div>
</main>