@model IEnumerable<Typerite.Models.Posts>

@{
    ViewData["Title"] = "Typerity - Posts";
    Layout = "~/Views/Shared/_Typerity.cshtml";
}
<div class="masonry-wrap">

    <div class="masonry">

        <div class="grid-sizer"></div>

        @foreach (var item in Model)
        {

            <article class="masonry__brick entry format-standard animate-this">

                <div class="entry__thumb">
                    <a asp-action="Details" asp-route-id="@item.Id" class="entry__thumb-link">
                        <img src="@Html.DisplayFor(modelItem => item.Background)"
                             srcset="@Html.DisplayFor(modelItem => item.Background) 1x, @Html.DisplayFor(modelItem => item.Background) 2x" alt="">
                    </a>
                </div>

                <div class="entry__text">
                    <div class="entry__header">

                        <h2 class="entry__title"><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title).</a></h2>
                        <div class="entry__meta">
                            <span class="entry__meta-cat">
                                <a href="category.html">@Html.DisplayFor(modelItem => item.Categories.Category)</a>


                            </span>
                            <span class="entry__meta-date">
                                <a href="single-standard.html">@Html.DisplayFor(modelItem => item.Created)</a>
                            </span>
                        </div>

                    </div>
                    <div class="entry__excerpt">
                        <p>
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                </div>

            </article> <!-- end article -->
        }



    </div> <!-- end masonry -->

</div> <!-- end masonry-wrap -->

<div class="row">
    <div class="column large-full">
        <nav class="pgn">
            <ul>
                <li><a class="pgn__prev" href="#0">Prev</a></li>
                <li><a class="pgn__num" href="#0">1</a></li>
                <li><span class="pgn__num current">2</span></li>
                <li><a class="pgn__num" href="#0">3</a></li>
                <li><a class="pgn__num" href="#0">4</a></li>
                <li><a class="pgn__num" href="#0">5</a></li>
                <li><span class="pgn__num dots">…</span></li>
                <li><a class="pgn__num" href="#0">8</a></li>
                <li><a class="pgn__next" href="#0">Next</a></li>
            </ul>
        </nav>
    </div>
</div>